#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#gdb files
.gdb_history
*.elf
#docker
.bash_history

#vscode settings
.vscode

#Clion settings
.idea

#pvs-studio
PVS-Studio.log
report.tasks
strace_out
.config/*

#clangd lsp
compile_flags.txt

# Archivos de metadatos de macOS
.DS_Store
.AppleDouble
.LSOverride

.cache

#gdb
.gdbinit